# Importando

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# Lendo dados

In [2]:
db = pd.read_csv('statlog-heart-dataset.csv')

db

,age,sex,chest,pressure,cholestoral,bloodsugar,electrocardiographic,heartRate,exInducedAngina,oldpeak,slope,numMajorVessels,thal,class
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,yes
1,57,1,2,124,261,0,0,141,0,0.3,1,0,7,yes
2,56,1,3,130,256,1,2,142,1,0.6,2,1,6,yes
3,59,1,4,110,239,0,2,142,1,1.2,2,1,7,yes
4,60,1,4,140,293,0,2,170,0,1.2,2,2,7,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,49,1,2,130,266,0,0,171,0,0.6,1,0,3,no
266,52,1,3,172,199,1,0,162,0,0.5,1,0,7,no
267,44,1,2,120,263,0,0,173,0,0.0,1,0,7,no
268,56,0,2,140,294,0,2,153,0,1.3,2,0,3,no
269,57,1,4,140,192,0,0,148,0,0.4,2,0,6,no

# Train test split

In [4]:
X = db.drop('class', axis=1)
y = db['class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.66, random_state=42)

# Decision Tree

In [9]:
decision_tree = DecisionTreeClassifier(random_state=42)

decision_tree.fit(X_train, y_train)

decision_tree.score(X_test, y_test)

0.776536312849162

# Random Forest

In [8]:
random_forest = RandomForestClassifier(random_state=42)

random_forest.fit(X_train, y_train)

random_forest.score(X_test, y_test)

0.8212290502793296